{% extends "master.jinja" %}

{% block master_title %}
TurboGag.com
{% endblock %}


{% block contents %}
<div class="row-fluid" >

    <div class="span10 content">
        {% for submission in submissions %}
        <div class="row-fluid submission">
            <div class="span8">
                {% if submission.content_type == "image" %}
                <img src="{{ submission.image_url }}" />
                {% else %}
                {% endif %}
            </div>
            <div class="span4">
                <div class="submission-title"><a href="{{ url("/submissions/submission/%s" % submission.id) }}" />{{ submission.title }}</a></div>

                <div class="poster"><a href="#">poster-info</a></div>

                <div class="info">
                    <div class="row-fluid">
                        <div class="span1"><span class="comments">{{ submission.comments.count() }}</span></div>
                        <div class="span1" style="margin-left: 25px;"><span class="likes">{{ submission.votes.filter_by(liked=True).count() }}</span></div>
                    </div>
                </div>

                <div class="voting">
                    <div class="row-fluid">
                        <div class="votebox vb-first"><a href="{{ url("/submissions/vote/%s/good" % submission.id) }}" /><img src="{{ url("/images/sad.png") }}" /></a></div>
                        <div class="votebox vb-sec"><a href="{{ url("/submissions/vote/%s/bad" % submission.id) }}"><img src="{{ url("/images/happy.png") }}" /></a></div>
                    </div>
                </div>

                <div class="sharing">
                    <div class="row-fluid">
                        <div class="span6">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ tg.url("/submissions/submission/%s" % submission.id) }}" data-via="turbogag" data-lang="en">Tweet</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                        <div class="span6">
                            <div class="fb-like" data-href="{{ tg.url("/submissions/submission/%s" % submission.id) }}" data-send="false" data-layout="button_count" data-width="125" data-show-faces="false"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr style="color: gray;" />
        {% endfor %}
    </div>
    
    <div class="span2">
    </div>

</div>

<div class="notice"> Thank you for choosing TurboGears.</div>

{% endblock %}
