{% extends "master.jinja" %}

{% block master_title %}
TurboGag.com
{% endblock %}


{% block contents %}
<style>
body { background: #ddd;}
.content { background: #fff; }
.submission {
    padding: 20px;
}
.submission-title {
    font-size: 31.5px;
}
.voting {
    margin-top: 20px;
}
.votebox {
    background: #ccc;
    text-align: center;
    height: 64px;
    cursor: pointer;
}
.votebox:hover {

}
.votebox img {
    padding-top: 20px;
}
</style>
<div class="row-fluid" >

    <div class="span10 content">
        {% for submission in submissions %}
        <div class="row-fluid submission">
            <div class="span8">
                {% if submission.content_type == "image" %}
                <img src="{{ submission.image_url }}" />
                {% else %}
                {% endif %}
            </div>
            <div class="span4">
                <div class="submission-title">{{ submission.title }}</div>
                <div class="poster"><a href="#">{{ submission.user.user_name }}</a></div>
                <div class="voting">
                    <div class="row-fluid">
                        <div class="span4 votebox"><a href="{{ url("/submissions/vote/%s/good" % submission.id) }}" /><img src="{{ url("/images/sad.png") }}" /></a></div>
                        <div class="span4 votebox"><a href="{{ url("/submissions/vote/%s/bad" % submission.id) }}"><img src="{{ url("/images/happy.png") }}" /></a></div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="color: gray;" />
        {% endfor %}
    </div>
    
    <div class="span2">
    </div>

</div>

<div class="notice"> Thank you for choosing TurboGears.</div>

{% endblock %}
